<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510978291920-31sgk97k4bifhc0ebpamk9m46om2e50r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510978291920-31sgk97k4bifhc0ebpamk9m46om2e50r</string>
	<key>API_KEY</key>
	<string>AIzaSyAYZ5JlWF94jBGrcds7fSi5uMN1zmuieec</string>
	<key>GCM_SENDER_ID</key>
	<string>510978291920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mirea.ninja.mireaapp</string>
	<key>PROJECT_ID</key>
	<string>rtu-mirea-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rtu-mirea-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510978291920:ios:dd9496a1680c72828c46d5</string>
</dict>
</plist>